


<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135071630-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-135071630-1');
</script>
</head>

<footer class="page-footer font-small blue pt-4" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

        

			<aside id="newsletterwidget-4" class="widget widget_newsletterwidget"><div class="tnp tnp-widget"><form method="post" action="https://www.tedxcairouniversity.com/?na=s" onsubmit="return newsletter_check(this)">

<input type="hidden" name="nlang" value="">
<input type="hidden" name="nr" value="widget">
<input type='hidden' name='nl[]' value='0'>
<div class="tnp-field tnp-field-firstname"><label>First name or full name</label><input class="tnp-firstname" type="text" name="nn" ></div>
<div class="tnp-field tnp-field-email"><label>Email</label><input class="tnp-email" type="email" name="ne" required></div>
<div class="tnp-field tnp-field-button"><input class="tnp-submit"   id="Submit-butt" type="submit" value="Subscribe to Our Newsletter and Blog">
</div>
</form>
</div>
</aside>				</div>
        <!-- Grid column -->
<div class="sidebar-column col-md-6">
					<aside id="text-4" class="widget widget_text">			<div class="textwidget">
<ul class="social-nav" style="margin-top:15px;margin-left:20px">
<li style='margin-top:15px'><a href="https://twitter.com/TEDxCairoUni" target="_blank" title="Twitter" rel="nofollow" class="twitter"><i class="fa fa-twitter"></i></a></li>
<li><a href="https://www.facebook.com/TEDxCairoUni/" target="_blank" title="Facebook" rel="nofollow" class="facebook"><i class="fa fa-facebook"></i></a></li>
<li><a href="https://www.instagram.com/tedxcairouni/?fbclid=IwAR2xbzutWJwy_yE5kA6rmeXb0J9rKH3f6AKRlxfNZGjjkNHYNjIJYnb2yn8" target="_blank" title="instagram" rel="nofollow" class="google"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
<li><a href="https://www.linkedin.com/company/tedxcairouniversity/?trk=public-post_share-update_actor-text" target="_blank" title="Linkedin" rel="nofollow" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
</ul>
</div>
		</aside>				</div>
        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
           

          </div>
          <!-- Grid column -->

        

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
    
      <br>
      <p>This independent TEDx event is operated under license from TED</p>
      © 2020 Copyright:
      <a href="#!">TedxCairoUniversity</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
