<footer class="page-footer font-small blue pt-4" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
           <img src="/assets/Images/logo white.png" width=80%% height=90%%>


        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Follow us on</h5>

            <ul class="list-unstyled">
              <li class="horizontal">
                <a href="fb.com/TEDxCairoUni/">
                <img src="/assets/Icons/fb.png" width="25" height="25">
                </a>
              </li>
              <li class="horizontal">
                <a href="https://twitter.com/TEDxCairoUni">
                
                <img src="/assets/Icons/twitter.png" width="25" height="25">
                </a>
              </li>
              <li class="horizontal">
                <a href="instagram.com/tedxcairouni/">
                
                <img src="/assets/Icons/instagram.png" width="25" height="25">
                </a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

        

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      <br>
      <p>This independent TEDx event is operated under license from TED</p>
      © 2020 Copyright:
      <a href="#!">TedxCairoUniversity</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
