<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
  
    <main>
      <section class="home-intro">
      
      </section>

     

      <div class="home-more-stuff">
        <div class="more-stuff-grid">
          <img
            src="/assets/GenerationImages/Generation-V-2000x1200_c.jpg"
            alt=""
            width=200%%% height=150%%
            class="slide-in from-left"
          />
          <p class="slide-in from-right" style="visibility: hidden;">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
        <div class="more-stuff-grid">
          <p class="slide-in from-left" style="visibility: hidden;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
          <img
            src="/assets/GenerationImages/Generation-IV-2000x1200_c.jpg"
            alt=""
          width=200%%% height=150%%
            class="slide-in from-right"
          />
        </div>
        <div class="more-stuff-grid">
          <img
            src="/assets/GenerationImages/Generation-III-2000x1200_c.jpg"
            alt=""
             width=200%%% height=150%%
            class="slide-in from-left"
          />
          <p class="slide-in from-right" style="visibility: hidden;">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
        <div class="more-stuff-grid">
          <p class="slide-in from-left" style="visibility: hidden;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
          <img
            src="/assets/GenerationImages/Generation-II-2000x1200_c.jpg"
            alt=""
             width=200%%% height=150%%
            class="slide-in from-right"
          />
        </div>
        <div class="more-stuff-grid">
          <img
            src="/assets/GenerationImages/Generation-I-2000x1200_c.jpg"
            alt=""
            width=100%%% height=100%%
            class="slide-in from-left"
          />
          <p class="slide-in from-right" >
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis fugit,
            quae beatae vero sit magni quaerat id ratione. Dolor optio unde amet
            omnis sapiente neque cumque consequuntur reiciendis deserunt.
            Dolorem vero exercitationem consequuntur, eligendi cupiditate
            debitis facilis quibusdam magni. Eveniet.
          </p>
        </div>
      </div>
    </main>
    <script src="js/observers.js"></script>
  </body>
</html>
