<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div id="page">
    <p id="TED_ID">TED?</p>
    <p id="TED_DEF">TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California almost 30 years ago.<br />TED has grown to support those world-changing ideas with multiple initiatives. The two annual TED Conferences invite the world’s leading thinkers and doers to speak for 18 minutes on a diverse mix of topics. Many of these talks are then made available, free, at TED.com. TED speakers have included Bill Gates, Jane Goodall, Elizabeth Gilbert, Sir Richard Branson, Nandan Nilekani, Philippe Starck, Ngozi Okonjo-Iweala, Isabel Allende and former UK Prime Minister Gordon Brown</p>
    <img src="/assets/Images/Layer 5.png"  id="XOnRight">
  
    <p id="TEDx_ID">TEDx?</p>
    <p id="TEDx_DEF">In the spirit of ideas worth spreading, TEDx is a program of local, self-organized events that bring people together to share a TED-like experience. At a TEDx event, TEDTalks video and live speakers combine to spark deep discussion and connection in a small group. These local, self-organized events are branded TEDx, where x = independently organized TED event. The TED Conference provides general guidance for the TEDx program, but individual TEDx events are self-organized. (Subject to certain rules and regulations.) For more information, visit the TEDx program’s website at: www.ted.com/tedx</p>
    <img src="/assets/Images/Layer 6.png"  id="XOnLeft">
  
    <div id="ourTeamSection">
        <p style="text-align: center;text-">TEDx?</p>
    </div>
      
</div>
